.sidebar
  .sidebar__username
    .sidebar__username__top-item
      .sidebar__username__top-item__name
        higeneko
      .sidebar__username__top-item__icons
        = link_to "#", class: "sidebar__username__top-item__icons__btn" do
          =icon('far', 'edit') 
        = link_to "#", class: "sidebar__username__top-item__icons__btn" do
          =icon('fas', 'cog')
  
  .sidebar__list 
  
    .sidebar__list__group
      .sidebar__list__group__name
        test
      .sidebar__list__group__name__comm
        メッセージなし
    
   
      .sidebar__list__group__name
        test
      .sidebar__list__group__name__comm
        メッセージなし